@use "./../variables";

.container {
    padding: 20px 30%;

    label {
        font-size: small;
    }

    button {
        color: variables.$white;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}