@use "variables";

:root {
  --background: $white;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Alignment */

.text-align-center {
  text-align: center;
}

.margin-auto {
  margin: 0 auto;
}

.mr-1 {
  margin-right: 5px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

/* buttons */

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &.primary {
    background-color: variables.$primary;
    min-width: 150px;
    width: auto;
    cursor: pointer;

    &:disabled {
      background-color: variables.$primaryLight;
      cursor: not-allowed;
    }
  }
}

/* Layout */

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.flex-full {
  flex: 1 1 auto;
}

.justifiy-content-center {
  justify-content: center;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 10px;
}

.grid {
  display: grid;
}

input, textarea {
  padding: 10px;
}

/* Dimensions */

.w-1 {
  width: 100px;
}

.w-2 {
  width: 200px;
}

.p-2 {
  padding: 10px
}

.small {
  font-size: small;
}

.hidden {
  visibility: hidden;
}

/* Loading spinner */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid variables.$primary;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.danger {
  color: red;
}

.info {
  color: blue;
}
